body {
    background-color: #e4e2c3;
}
.dropbtn {
    background-color: #818181;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.go-top {
    position: fixed;
    right: 30px;
    bottom: 25px;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}
.save{
    height: 44px;
    width: 200px;
    margin-left: 40px;
    border-radius: 50px;
    background-color: rgb(0, 102, 255);
    color: #fff;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}
.go-top:hover {
    color: #e43439;
    border-color: #e43439;
    cursor: pointer;
}
#list-chord {
    padding-left: 5%;
    padding-right: 5%;
}
#inp {
    height: 44px;
    margin: 3px;
}
.lable {
    background-color: #b4b4b4;
    width: 80px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.num {
    color: black;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    /* margin-top: 15px; */
    display: block;
}
.chord-v {
    /* border: 1px solid gray; */
    background-color: #e2e7e2;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#control img {
    width: 40px;
    margin-bottom: 5px;
}
a {
    cursor: pointer;
}
.dropbtn::after {
    content: "";
    width: 0;
    height: 0;
    position: relative;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    top: 15px;
    left: 3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    height: 300px;
    overflow-y: scroll;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a img {
    height: 10px;
    width: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
}

.dropdown:hover .dropbtn {
    background-color: #a3a8a3;
}
